[submodule "turing-smart-screen-python"]
	path = turing-smart-screen-python
	url = https://github.com/mathoudebine/turing-smart-screen-python.git
[submodule "media-control"]
	path = media-control
	url = https://github.com/ungive/media-control
